@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-anonymous-pro: "Anonymous Pro";

  /* font sizes */
  --font-size-61xl: 60px;

  /* Colors */
  --color-snow: #fff5f5;
}
